body {
    font-family: 'Verdana', monospace;
    line-height: 1.8;
    color: white;
    padding-left: 100px;
    padding-top: 100px;
    font-size: 13px;
    background-image: url("images/bgrnd.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

p {width: 600px;
  font-size: 13px}
.margin {margin-bottom: 15px;}

li {width: 600px;
  font-size: 13px;
}

.gray {color: white}

pre {
  white-space: 0px;
  margin-top: 0px;
  line-height: 1.0;
  margin-bottom: 0px;
  width: 600px;
}

a {
  color: #ff0000;
}

div{
  padding-bottom: 30px;
}

img {
  width: 600px;
}
pre code {
  border: 1px solid #999;
  display: block;
  padding: 20px;
}

pre, 
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}